.stApp{
    background-color: transparent;
    margin: auto;
    

div.stColumn.st-emotion-cache-1tpzimh.e1f1d6gn3{
    /* margin: auto; */
    background-color: #fadbd8;
    border: 2px solid #ff5733;
    justify-content: center;
    height: auto;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    visibility: visible;
    border-radius: 3%;
}
}
